body{
   margin: 0;
   padding: 0;
   overflow: auto;
}

#loader {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   background: rgba(0,0,0,0.75) url(images/loading2.gif) no-repeat center center;
   z-index: 10000;
 }